$color-primary: #1289ff; //主色调
$color-primary-light: #f0faff; //主色调：轻
$color-primary-dark: #2D8DF0; //主色调：重

$color-info: #DCDEE2; //提示
$color-success: #37BF30; //成功
$color-warn: #BF6F30; //警告
$color-error: #BF3033; //失败

$color-list: (
        primary: $color-primary,
        info: $color-info,
        success: $color-success,
        warn: $color-warn,
        error: $color-error,
)